<div class="container" style="background-color: lightgrey; height: 100vh; width: 100vw; ">
    <div class="col-md-6" style="text-align: left; position: center">
      <h1>GUIDE ME</h1>
      <hr>
      <p>
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Accusantium adipisci at consectetur cum deleniti distinctio ipsa ipsum laboriosam modi molestias mollitia perspiciatis,
        quas quasi quibusdam quisquam, repellat velit vero voluptatem.
      </p>
    </div>
    <div class="col-md-6" style="text-align: center; padding: 15px; position: center; background-color: white">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <h2>Sign Up</h2>
        <div class="form-group" *ngIf="isSignup">
          <input
            type="text"
            id="fullName"
            class="form-control"
            placeholder="Full name">
        </div>
        <div class="form-group">
          <input
            type="email"
            id="email"
            ngModel
            class="form-control"
            name="email"
            email
            required
            placeholder="Email">
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            ngModel
            class="form-control"
            name="password"
            required
            placeholder="Password">
        </div>
        <button class="btn btn-primary btn-block" [disabled]="!authForm.valid">
          {{ !isSignup ? 'Sign in' : 'Sign up'}}
        </button>
      </form>
      <div class="col-xs-12">
        <div>Already have an account?</div>
        <a (click)="onSwitch()">{{ isSignup ? 'Sign in' : 'Sign up'}}</a>
      </div>
    </div>
</div>
