<div style="border: 1px solid black">
  <div class="dropdown" appDropdown>
    <a style="cursor: pointer" class="dropdown-toggle" role="button">Cog <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a style="cursor: pointer" (click)="onShare()">Share</a></li>
      <li><a style="cursor: pointer" (click)="onEdit()">Edit</a></li>
      <li><a style="cursor: pointer" (click)="onDelete()">Delete</a></li>
    </ul>
  </div>
  <h4>{{ guidebook?.title }}</h4>
  <p>{{ guidebook?.content }}</p>
</div>

