<div class="card-container">
  <div class="card-box">
    <div class="dropdown" appDropdown>
      <a style="cursor: pointer" class="dropdown-toggle fas fa-cog fa-2x" role="button"></a>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer" (click)="onShare()">Share</a></li>
        <li><a style="cursor: pointer" (click)="onEdit()">Edit</a></li>
        <li><a style="cursor: pointer" (click)="onDelete()">Delete</a></li>
      </ul>
    </div>
    <h4>{{ guidebook?.title }}</h4>
    <p>{{ guidebook?.content }}</p>
  </div>
</div>

